[tool.tox]
legacy_tox_ini = """

[testenv]
skipsdist = true
skip_install = true
platform =
    win: win32

[base]
setenv = 
    DATA_DIR={toxinidir}{/}data
    TEMP_DIR={toxinidir}{/}.tmp
deps =
    customtkinter >= 5.1.2
    pydantic >= 1.9.1
    srt >= 3.5.2

[testenv:gui-{win}]
setenv =
    {[base]setenv}
    win: PROGRAMDATA={env:PROGRAMDATA}
    win: PROGRAMFILES={env:PROGRAMFILES}
    win: RESOLVE_SCRIPT_API={env:PROGRAMDATA}{/}Blackmagic Design{/}DaVinci Resolve{/}Support{/}Developer{/}Scripting
    win: RESOLVE_SCRIPT_LIB={env:PROGRAMFILES}{/}Blackmagic Design{/}DaVinci Resolve{/}fusionscript.dll
    win: PYTHONPATH={toxinidir}{/}src{:}{env:RESOLVE_SCRIPT_API}{/}Modules{/}
deps =
    {[base]deps}
commands =
    python {toxinidir}/main.py {posargs}

[testenv:cli-{win}]
setenv =
    {[base]setenv}
    win: PROGRAMDATA={env:PROGRAMDATA}
    win: PROGRAMFILES={env:PROGRAMFILES}
    win: RESOLVE_SCRIPT_API={env:PROGRAMDATA}{/}Blackmagic Design{/}DaVinci Resolve{/}Support{/}Developer{/}Scripting
    win: RESOLVE_SCRIPT_LIB={env:PROGRAMFILES}{/}Blackmagic Design{/}DaVinci Resolve{/}fusionscript.dll
    win: PYTHONPATH={toxinidir}{/}src{:}{env:RESOLVE_SCRIPT_API}{/}Modules{/}
deps =
    {[base]deps}
commands =
    python {toxinidir}/main_cli.py {posargs}

[testenv:test]
passenv =
    DISPLAY
setenv =
    {[base]setenv}
    PYTHONPATH={toxinidir}{/}src
    RESOURCE_DIR={toxinidir}{/}test{/}resources
deps =
    {[base]deps}
    pytest
commands =
    pytest {toxinidir}/tests -v -ra {posargs}

[testenv:check_format]
deps =
    black
commands =
    black {toxinidir} --check --color {posargs}

[testenv:format]
deps =
    black
commands =
    black {toxinidir} {posargs}
"""

[tool.black]
line-length = 160
